<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_84a491439315235bac0772d224a977f0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_84a491439315235bac0772d224a977f0" ></div>
        
</body>
<script>
    
    
            var map_84a491439315235bac0772d224a977f0 = L.map(
                "map_84a491439315235bac0772d224a977f0",
                {
                    center: [39.9042, 116.4074],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2cec86c373b729ad1a7e2cc9c848b8ac = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_84a491439315235bac0772d224a977f0);
        
    
            var marker_cluster_2cebf77c60895445abec8159100f5577 = L.markerClusterGroup(
                {}
            );
            map_84a491439315235bac0772d224a977f0.addLayer(marker_cluster_2cebf77c60895445abec8159100f5577);
        
    
            var marker_382c8684bdec1a8071cedb692563aded = L.marker(
                [39.9037, 116.3975],
                {}
            ).addTo(marker_cluster_2cebf77c60895445abec8159100f5577);
        
    
        var popup_f1bfedc27262395f434c1205a7fb3b47 = L.popup({"maxWidth": "100%"});

        
            
                var html_dc30f00243602130975678d0d45bdcc5 = $(`<div id="html_dc30f00243602130975678d0d45bdcc5" style="width: 100.0%; height: 100.0%;"><b>天安门</b><br>天安门是北京的标志性建筑，位于北京市中心。</div>`)[0];
                popup_f1bfedc27262395f434c1205a7fb3b47.setContent(html_dc30f00243602130975678d0d45bdcc5);
            
        

        marker_382c8684bdec1a8071cedb692563aded.bindPopup(popup_f1bfedc27262395f434c1205a7fb3b47)
        ;

        
    
    
            marker_382c8684bdec1a8071cedb692563aded.bindTooltip(
                `<div>
                     天安门
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9d84db2676b0da6aa7673cd3d308fe42 = L.marker(
                [39.9163, 116.3972],
                {}
            ).addTo(marker_cluster_2cebf77c60895445abec8159100f5577);
        
    
        var popup_26617a0b02dbc17d0cf96e5a7a5514f8 = L.popup({"maxWidth": "100%"});

        
            
                var html_6605f77de186d35d161b4db9501d8cb8 = $(`<div id="html_6605f77de186d35d161b4db9501d8cb8" style="width: 100.0%; height: 100.0%;"><b>故宫</b><br>故宫是中国明清两代的皇家宫殿，现为故宫博物院。</div>`)[0];
                popup_26617a0b02dbc17d0cf96e5a7a5514f8.setContent(html_6605f77de186d35d161b4db9501d8cb8);
            
        

        marker_9d84db2676b0da6aa7673cd3d308fe42.bindPopup(popup_26617a0b02dbc17d0cf96e5a7a5514f8)
        ;

        
    
    
            marker_9d84db2676b0da6aa7673cd3d308fe42.bindTooltip(
                `<div>
                     故宫
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b636c422723906227352cde22af58a74 = L.marker(
                [39.9997, 116.2754],
                {}
            ).addTo(marker_cluster_2cebf77c60895445abec8159100f5577);
        
    
        var popup_9be915f8f8ab21ecf16fa361ac388742 = L.popup({"maxWidth": "100%"});

        
            
                var html_53a4102773ffd9d65ca215c17461084c = $(`<div id="html_53a4102773ffd9d65ca215c17461084c" style="width: 100.0%; height: 100.0%;"><b>颐和园</b><br>颐和园是中国清朝时期的皇家园林，以昆明湖和万寿山著称。</div>`)[0];
                popup_9be915f8f8ab21ecf16fa361ac388742.setContent(html_53a4102773ffd9d65ca215c17461084c);
            
        

        marker_b636c422723906227352cde22af58a74.bindPopup(popup_9be915f8f8ab21ecf16fa361ac388742)
        ;

        
    
    
            marker_b636c422723906227352cde22af58a74.bindTooltip(
                `<div>
                     颐和园
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d2c154f3441e0484ff156b23b9671f1f = L.marker(
                [40.4319, 116.5704],
                {}
            ).addTo(marker_cluster_2cebf77c60895445abec8159100f5577);
        
    
        var popup_2668d34ffe0c03a36f8d4cfdc5f0b55b = L.popup({"maxWidth": "100%"});

        
            
                var html_780abb3e7df5df72a99fbce151022303 = $(`<div id="html_780abb3e7df5df72a99fbce151022303" style="width: 100.0%; height: 100.0%;"><b>长城</b><br>长城是中国古代的军事防御工程，是世界文化遗产。</div>`)[0];
                popup_2668d34ffe0c03a36f8d4cfdc5f0b55b.setContent(html_780abb3e7df5df72a99fbce151022303);
            
        

        marker_d2c154f3441e0484ff156b23b9671f1f.bindPopup(popup_2668d34ffe0c03a36f8d4cfdc5f0b55b)
        ;

        
    
    
            marker_d2c154f3441e0484ff156b23b9671f1f.bindTooltip(
                `<div>
                     长城
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>