<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b495393cd495698472bc0088d7589dc6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b495393cd495698472bc0088d7589dc6" ></div>
        
</body>
<script>
    
    
            var map_b495393cd495698472bc0088d7589dc6 = L.map(
                "map_b495393cd495698472bc0088d7589dc6",
                {
                    center: [39.9042, 116.4074],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1890abaab6c55faf2b7d82c32fd8fdf1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b495393cd495698472bc0088d7589dc6);
        
    
            var marker_5daa7b50286a0c6e17efb1fde7774705 = L.marker(
                [39.9163, 116.3972],
                {}
            ).addTo(map_b495393cd495698472bc0088d7589dc6);
        
    
        var popup_b2b7cc9455253021631d821b7e8f0479 = L.popup({"maxWidth": 300});

        
            
                var html_9b1a0933e15930ef2509099ffbb9c863 = $(`<div id="html_9b1a0933e15930ef2509099ffbb9c863" style="width: 100.0%; height: 100.0%;">故宫是中国明清两代的皇家宫殿。</div>`)[0];
                popup_b2b7cc9455253021631d821b7e8f0479.setContent(html_9b1a0933e15930ef2509099ffbb9c863);
            
        

        marker_5daa7b50286a0c6e17efb1fde7774705.bindPopup(popup_b2b7cc9455253021631d821b7e8f0479)
        ;

        
    
    
            marker_5daa7b50286a0c6e17efb1fde7774705.bindTooltip(
                `<div>
                     故宫
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_69a784db7a61369c972ff0391c238bdf = L.marker(
                [39.9042, 116.3975],
                {}
            ).addTo(map_b495393cd495698472bc0088d7589dc6);
        
    
        var popup_f069a9dcc6aa5864838739c8d9d2178d = L.popup({"maxWidth": 300});

        
            
                var html_c20367d491c61760afd2807e446741a4 = $(`<div id="html_c20367d491c61760afd2807e446741a4" style="width: 100.0%; height: 100.0%;">天安门是中华人民共和国的象征。</div>`)[0];
                popup_f069a9dcc6aa5864838739c8d9d2178d.setContent(html_c20367d491c61760afd2807e446741a4);
            
        

        marker_69a784db7a61369c972ff0391c238bdf.bindPopup(popup_f069a9dcc6aa5864838739c8d9d2178d)
        ;

        
    
    
            marker_69a784db7a61369c972ff0391c238bdf.bindTooltip(
                `<div>
                     天安门
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_010f02d185e9def66b35c3193e93f88a = L.marker(
                [39.9997, 116.2754],
                {}
            ).addTo(map_b495393cd495698472bc0088d7589dc6);
        
    
        var popup_895418f0dd4b1036e6eb523aa845e5f1 = L.popup({"maxWidth": 300});

        
            
                var html_0c30f0827b6387994656733f006e1b7f = $(`<div id="html_0c30f0827b6387994656733f006e1b7f" style="width: 100.0%; height: 100.0%;">颐和园是中国清朝时期皇家园林。</div>`)[0];
                popup_895418f0dd4b1036e6eb523aa845e5f1.setContent(html_0c30f0827b6387994656733f006e1b7f);
            
        

        marker_010f02d185e9def66b35c3193e93f88a.bindPopup(popup_895418f0dd4b1036e6eb523aa845e5f1)
        ;

        
    
    
            marker_010f02d185e9def66b35c3193e93f88a.bindTooltip(
                `<div>
                     颐和园
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e16e39f3e6d0fbf7591f49301968aa21 = L.marker(
                [40.4319, 116.5704],
                {}
            ).addTo(map_b495393cd495698472bc0088d7589dc6);
        
    
        var popup_746bf1ccf4277722a8eee4f6194ab08e = L.popup({"maxWidth": 300});

        
            
                var html_07ba64136f6691e2d1b7551367b6e1db = $(`<div id="html_07ba64136f6691e2d1b7551367b6e1db" style="width: 100.0%; height: 100.0%;">长城是中国古代的军事防御工程。</div>`)[0];
                popup_746bf1ccf4277722a8eee4f6194ab08e.setContent(html_07ba64136f6691e2d1b7551367b6e1db);
            
        

        marker_e16e39f3e6d0fbf7591f49301968aa21.bindPopup(popup_746bf1ccf4277722a8eee4f6194ab08e)
        ;

        
    
    
            marker_e16e39f3e6d0fbf7591f49301968aa21.bindTooltip(
                `<div>
                     长城
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>